.login-page {

  background-repeat: no-repeat center center fixed;;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

  }


  .login1 {

    width: 460px;
    height: auto;

    /* background-color: #c2a458; */
    ;
    border-radius: 40px;

  }

  .card {
    width: 99%;
    border-radius: 40px;
    font-family: 'Poppins-thin';

  }

  .card-body {

    border-radius: 40px;
  }

  .myinput {

    border-radius: 10px;
  }


  .card-header,
  .login-box-msg {

    font-family: Material-Design-Iconic-Font;
  }
