
<!-- Main Sidebar Container -->
<aside class="main-sidebar  elevation-4" >
  <!-- Brand Logo -->


  <div class="row text-center ml-3 mt-3"><img src="assets/images/logo.png" class="ml-3" style="height: 130px;" alt="">
  </div>
  <span class="brand-text brand-link font-weight-bold  mt-3 pb-2">Hostel Online Application</span>
  <!-- Sidebar -->
  <div class="sidebar">
    <!-- Sidebar user panel (optional) -->


    <!-- Sidebar Menu -->
    <nav class="mt-2">
      <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
          <!-- Add icons to the links using the .nav-icon class
               with font-awesome or any other icon font library -->




          <li class="nav-item">
            <a routerLink="home" class="nav-link">
              <i class="fa fa-solid fa-house-user nav-icon"></i> HOME

            </a>
          </li>
          <li class="nav-item">
            <a routerLink="application" style="color: #fff;" style="color: #fff;" class="nav-link">
              <i class="fa fa-thin fa-book"></i> MY APPLICATIONS
            </a>
          </li>









        </ul>
      </nav>

    </nav>
    <!-- /.sidebar-menu -->
  </div>
  <!-- /.sidebar -->
</aside>
<br />
