.main-sidebar {
  font-family: 'Poppins-thin';
  background-color: #24b0ed;
  color: #fff;
}

.nav-item .nav-link {
  color: #fff;
}

.nav-item:hover {
font-size: 18px;



}



.active
{
border-width: 0px;
  border-radius: 25px;

    background-color:  #c2a458;;

}
