<!-- Main content -->
<section class="content">
  <div class="container-fluid">
    <!--  -->

    <div class="row">
      <div class="col-md-9"></div>
      <div class="col-md-3">
        <div *ngIf="feddback_message_status==1" class="alert alert-success alert-dismissible">
          <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
          <i class="icon fas fa-check "></i>
          <small> {{ feedback_message }}</small>
        </div>
        <div *ngIf="feddback_message_status==2" class="alert alert-danger alert-dismissible">
          <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
          <i class="icon fas fa-ban"></i>
          <small> {{ feedback_message }}</small>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header  " style="height: 33px;">





        <div class="card-tools">

          <a routerLink="../hostels" type="button" class="btn btn-primary btn-tool nav-btn">
            <i class="fa fa-chevron-circle-left" aria-hidden="true"></i>
            hostels
          </a>
          <a routerLink="../roomtypes" type="button" class="btn btn-primary btn-tool nav-btn">
            <i class="fa fa-chevron-circle-left" aria-hidden="true"></i>
            Room Types
          </a>
          <a routerLink="../floors" type="button" class="btn btn-primary btn-tool nav-btn">
            <i class="fa fa-chevron-circle-up" aria-hidden="true"></i>
            floors
          </a>



          <button type="button" class="btn btn-tool" data-card-widget="remove">
            <i class="fas fa-times"></i>
          </button>
        </div>

      </div>



    </div>


      <div *ngIf="myrights.create_hostel"  class="card">


          <div class="card-header">
            <h3 class="card-title">Create Rooms </h3>




            <div class="card-tools">

              <button type="button" class="btn btn-tool" data-card-widget="collapse">
                <i class="fas fa-minus"></i>
              </button>
              <button type="button" class="btn btn-tool" data-card-widget="remove">
                <i class="fas fa-times"></i>
              </button>
            </div>

          </div>
          <!-- /.card-header -->
          <div class="card-body">
            <form #createroomsForm="ngForm" (ngSubmit)="createRooms()">
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <label>Hostel</label>
                    <select class="form-control select2" #hostel_id name="hostel_id"
                      (change)="getFloors(room.hostel_id)" required [(ngModel)]="room.hostel_id" disabled style="width: 100%;">
                      <option value="">select hostel</option>
                      <option *ngFor="let hostel of hostels" [ngValue]="hostel.hostel_id">{{ hostel.hostel_name }}
                      </option>
                    </select>
                  </div>

                </div>

                <div class="col-md-6">
                  <div class="form-group">
                    <label>Floor Name</label>
                    <select class="form-control select2" required name="floor_id" [(ngModel)]="room.floor_id"
                      style="width: 100%;">
                      <option value="">select floor</option>
                      <option *ngFor="let floor of floors" [ngValue]="floor.floor_id">{{ floor.floor_name }}</option>

                    </select>
                  </div>

                </div>
                <!-- /.col -->
              </div>
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <label>Room Type</label>
                    <select class="form-control select2" name="room_type_id" [(ngModel)]="room.room_type_id"
                      style="width: 100%;">
                      <option value="">select room type</option>
                      <option *ngFor="let roomtype of roomtypes" [ngValue]="roomtype.room_type_id">
                        {{roomtype.room_type}}
                      </option>


                    </select>
                  </div>

                </div>

                <div class="col-md-6">
                  <div class="form-group">
                    <label>Room Gender</label>
                    <select class="form-control select2" required name="location_id" [(ngModel)]="room.room_gender"
                      style="width: 100%;">
                      <option value="">select room gender</option>
                      <option [ngValue]="roomgender.male">Male</option>
                      <option [ngValue]="roomgender.female">Female</option>
                    </select>
                  </div>

                </div>
                <!-- /.col -->
              </div>
              <!-- /.row -->

              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="exampleInputEmail1">Room Number</label>
                    <input type="text" class="form-control" name="hostel_name" required [(ngModel)]="room.room_number"
                      placeholder="Enter ">
                  </div>

                </div>
                <!-- /.col -->
                <!-- <div class="col-md-6">
                <div class="form-group">
                  <label for="exampleInputEmail1">Room Capacity</label>
                  <input type="number" required class="form-control" name="room_capacity" required
                    [(ngModel)]="room.room_capacity" placeholder="Enter capacity">
                </div>

              </div> -->
                <!-- /.col -->
              </div>
              <div class="row">
                <div class="col-12 col-sm-6">
                  <button class="btn btn-primary" [disabled]="createroomsForm.form.invalid"
                    type="submit">Create</button>
                </div>

              </div>
              <!-- /.card-body -->
            </form>
          </div>
        </div>




    <div class="card">
      <!--  -->
      <div class="card-header">
        <h3 class="card-title">Available Rooms</h3>
        <div class="card-tools">
          <button type="button" class="btn btn-tool" data-card-widget="collapse">
            <i class="fas fa-minus"></i>
          </button>
          <button type="button" class="btn btn-tool" data-card-widget="remove">
            <i class="fas fa-times"></i>
          </button>
        </div>
      </div>
      <!-- /.card-header -->
      <div class="card-body">

        <table datatable [dtOptions]="dtoptions" [dtTrigger]="dtTrigger"
          class="table table-bordered table-striped table-hover">
          <thead>
            <tr>

              <th>No</th>
              <th>Room Number</th>
              <th>Room Type</th>
              <th>Hostel Name</th>
              <th>Room Gender</th>
              <th>Action</th>

            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let _room of rooms, let i=index">

              <td>{{ i }}</td>
              <td>{{ _room.room_number}}</td>
              <td>{{ _room.room_type }}</td>
              <td>{{ _room.hostel_name }}</td>
              <td>{{ _room.room_gender }}</td>
              <td class="btn-group">


                <div class="btn-group">


                  <i class="fa fa-ellipsis-h fa-lg" data-toggle="dropdown"></i>
                  <span class="sr-only">Toggle Dropdown</span>

                  <div class="dropdown-menu" role="menu">


                    <button class="dropdown-item" (click)="setRoomId(_room)" data-toggle="modal" *ngIf="myrights.create_hostel"
                      [attr.data-target]="'#edit-modal-lg'+i">Edit</button>

                    <button class="dropdown-item text-danger" (click)="setRoomId(_room)" *ngIf="myrights.create_hostel" 
                      data-toggle="modal" [attr.data-target]="'#modal-sm'+ i ">Delete</button>
                  </div>
                </div>
              </td>
              <div class="modal fade" id="modal-sm-reserve{{ i }}">
                <div class="modal-dialog modal-sm">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h4 class="modal-title">Confimation</h4>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
                      <p class="text-sm">Are you sure you want to reserve room {{ _room.room_number }}&hellip;</p>
                    </div>
                    <div class="modal-footer justify-content-between">
                      <button type="button" class="btn btn-default btn-sm" data-dismiss="modal">Cancel</button>
                      <button type="button" (click)=" reserve()" data-dismiss="modal"
                        class="btn btn-primary btn-sm">Reserve</button>
                    </div>
                  </div>
                  <!-- /.modal-content -->
                </div>
                <!-- /.modal-dialog -->
              </div>
              <!-- delete modal small -->
              <div class="modal fade" id="modal-sm{{ i }}">
                <div class="modal-dialog modal-sm">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h4 class="modal-title">Confimation</h4>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
                      <p class="text-sm">Are you sure you want to delete room {{ _room.room_number }}&hellip;</p>
                    </div>
                    <div class="modal-footer justify-content-between">
                      <button type="button" class="btn btn-default btn-sm" data-dismiss="modal">Cancel</button>
                      <button type="button" (click)="deleteRoom()" data-dismiss="modal"
                        class="btn btn-danger btn-sm">Delete</button>
                    </div>
                  </div>
                  <!-- /.modal-content -->
                </div>
                <!-- /.modal-dialog -->
              </div>
              <!-- update modal -->
              <!-- update modal -->
              <div class="modal fade" id="edit-modal-lg{{ i }}">
                <div class="modal-dialog modal-lg">
                  <div class="modal-content">
                    <div class="modal-header  text-center">
                      <h4 class="modal-title">Update Room</h4>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
                      <form #edithostel="ngForm">
                        <div class="row">
                          <div class="col-md-6">
                            <label for="">Room Number</label>
                            <input type="text" required class="form-control" name="room_number"
                              [(ngModel)]="room.room_number">
                          </div>

                          <div class="col-md-6">
                            <label for=""> Room Type</label>
                            <select class="form-control select2" name="room_type" [(ngModel)]="room.room_type_id"
                              style="width: 100%;">

                              <option *ngFor="let roomtype of roomtypes" [ngValue]="roomtype.room_type_id">
                                {{roomtype.room_type}}</option>

                            </select>
                          </div>
                        </div>

                        <div class="row">
                          <div class="col-md-6">
                            <label for=""> Room Gender</label>
                            <select class="form-control select2" name="room_gender" [(ngModel)]="room.room_gender"
                              style="width: 100%;">

                              <option [ngValue]="roomgender.male">Male</option>
                              <option [ngValue]="roomgender.female">Female</option>
                            </select>
                          </div>
                          <div class="col-md-6">
                            <label for="">Hostel Name</label>
                            <select class="form-control select2" disabled name="hostel_id" [(ngModel)]="room.hostel_id"
                              style="width: 100%;">
                              <option *ngFor="let roomhostel of rooms" [ngValue]="roomhostel.hostel_id">{{
                                roomhostel.hostel_name }}</option>


                            </select>
                          </div>
                        </div>
                        <div class="row">
                          <input type="hidden" name="">
                          <div class="col-md-6">
                            <label for="">Room Capacity</label>
                            <input type="number" required class="form-control" name="room_capacity"
                              [(ngModel)]="room.room_capacity">
                          </div>
                        </div>


                        <div class="modal-footer justify-content-between">
                          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                          <button type="submit" data-dismiss="modal" (click)="updateRoom()" class="btn btn-primary">Save
                            changes</button>
                        </div>
                      </form>
                    </div>

                  </div>
                  <!-- /.modal-content -->
                </div>
                <!-- /.modal-dialog -->
              </div>
            </tr>
          </tbody>
        </table>
      </div>

    </div>
    <!-- /.content-header -->
  </div>
</section>
