<ngx-ui-loader
text="please wait..."
overlayColor="#fff "
textColor="#c2a458"
fgsColor="#c2a458"
fgsType="three-bounce"
></ngx-ui-loader>

<div class="hold-transition login-page">
  <div class="login-box">
  <!-- /.login-logo -->
  <div class="register-box">


    <div class="card">
      <div class="card-body register-card-body">
        <p class="login-box-msg">Enter you Email</p>

        <form #passwordresert="ngForm" (ngSubmit)="  requestResert()">


          <div class="input-group mb-3">
            <input type="email" required class="form-control" [(ngModel)]="email" name="email" placeholder="Email">
            <div class="input-group-append">
              <div class="input-group-text">
                <span class="fas fa-envelope"></span>
              </div>
            </div>
          </div>
          <div class="row">
<div *ngIf="error!==null" class="col-md-12 bg-danger mb-3">{{error}}</div>
<div *ngIf="success!==null" class="col-md-12 bg-success mb-3">succesfully send password reser link to your email</div>
            <!-- /.col -->

              <div class="col-12">
                <button type="submit" [disabled]="passwordresert.form.invalid" class="btn btn-primary btn-block">Send Resert link </button>
              </div>
              <!-- /.col -->


            <!-- /.col -->
          </div>
        </form>




      </div>
      <!-- /.form-box -->
    </div><!-- /.card -->
  </div>
  <!-- /.register-box -->

</div>
<!-- /.login-box -->

<!-- jQuery -->

</div>
