
<section class="content ">
  <div class="container-fluid">
    <div class="card">
      <div class="card-header m-4">
        <h3 class="card-title">Available Batches</h3>
      </div>
      <!-- /.card-header  -->
      <div class="row">

      </div>
      <div class="card-body">

        <table class="table  table-hover" >
          <thead>
            <tr>




              <th>Batch Name</th>

              <th>action</th>



            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let batch of batches,let i=index">

              <td>{{batch.session_name}}</td>




              <td>
                <button class="btn btn-table btn-sm" (click)="gotoApplication(batch)"> procced to application</button>

              </td>


            </tr>
          </tbody>
        </table>
      </div>
      <!-- /.card-body -->
    </div>
    <!-- /.content-header -->
  </div>
</section>


