

<div class="hold-transition login-page">
  <div class="login-box">
  <!-- /.login-logo -->
  <div class="register-box">


    <div class="card">
      <div class="card-body register-card-body">
        <p class="login-box-msg">Change Password</p>

        <form #changepasswordform="ngForm" (ngSubmit)="changePassword(changepasswordform)">


          <div class="input-group mb-3">
            <input type="password" class="form-control" required name="password" placeholder="Password" ngModel>
            <div class="input-group-append">
              <div class="input-group-text">
                <span class="fas fa-lock"></span>
              </div>
            </div>
          </div>
          <div class="input-group mb-3">
            <input type="password" class="form-control" name="c_password" placeholder="Retype password" ngModel>
            <div class="input-group-append">
              <div class="input-group-text">
                <span class="fas fa-lock"></span>
              </div>
            </div>
          </div>
          <div class="row">
<div *ngIf="error!==null" class="col-md-12 bg-danger mb-3">{{error}}</div>
<div *ngIf="success!==null" class="col-md-12 bg-success mb-3">succesfully updated password</div>
            <!-- /.col -->
<div class="col-md-12">
  <button type="submit" class="btn btn-primary ">Change Password</button></div>

            <!-- /.col -->
          </div>
        </form>




      </div>
      <!-- /.form-box -->
    </div><!-- /.card -->
  </div>
  <!-- /.register-box -->

</div>
<!-- /.login-box -->

<!-- jQuery -->
<script src="../../plugins/jquery/jquery.min.js"></script>
<!-- Bootstrap 4 -->
<script src="../../plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
<!-- AdminLTE App -->
<script src="../../dist/js/adminlte.min.js"></script>
</div>
