<!-- eslint-disable @angular-eslint/template/eqeqeq -->
<div *ngIf="subwarden_batch?.residence_session_id==sessionbatch?.residence_session_id" class="btn-group mr-3">
  <div  class="btn-group mr-3">
  <a data-toggle="dropdown"> <svg xmlns="http://www.w3.org/2000/svg" height="1.5em" viewBox="0 0 128 512"><path d="M64 360a56 56 0 1 0 0 112 56 56 0 1 0 0-112zm0-160a56 56 0 1 0 0 112 56 56 0 1 0 0-112zM120 96A56 56 0 1 0 8 96a56 56 0 1 0 112 0z"/></svg> </a>
  <span class="sr-only">Toggle Dropdown</span>
  <div class="dropdown-menu" style="margin-right: 100px;" role="menu">




    <a  routerLink="../checkin" class="dropdown-item ">
      <i class="fa fa-chevron-circle-right" aria-hidden="true"></i>check in

    </a>
    <a routerLink="../checkout" class="dropdown-item ">
      <i class="fa fa-chevron-circle-right" aria-hidden="true"></i> checkout
    </a>

  </div>

</div>
