<div class="card">
  <div class="card-header  " >


    <!--  -->


    <div class="card-tools">
      <a routerLink="../programmepreference" type="button"   class="btn btn-primary btn-tool nav-btn">
        <i class="fa fa-chevron-circle-down" aria-hidden="true"></i>
      Add Programmes
      </a>
      <a routerLink="../viewbatch" type="button" class="btn btn-primary btn-tool nav-btn">
        <i class="fa fa-chevron-circle-down" aria-hidden="true"></i>
        Hostel Preference
      </a>
      <a routerLink="../levelpreference" type="button"   class="btn btn-primary btn-tool nav-btn">
        <i class="fa fa-chevron-circle-down" aria-hidden="true"></i>
     Preference Levels
      </a>

      <a routerLink="../reports" type="button"   class="btn btn-primary btn-tool nav-btn">
        <i class="fa fa-chevron-circle-down" aria-hidden="true"></i>
       Reports
      </a>

      <a routerLink="../Resevations" type="button"  *ngIf="myrights.reserve_rooms" class="btn btn-primary btn-tool nav-btn">
        <i class="fa fa-chevron-circle-down" aria-hidden="true"></i>
       Resavations
      </a>



      <a routerLink="../batches" type="button" class="btn btn-primary btn-tool nav-btn">
        <i class="fa fa-chevron-circle-left" aria-hidden="true"></i>
        Batches
      </a>





      <button type="button" class="btn btn-tool" data-card-widget="remove">
        <i class="fas fa-times"></i>
      </button>
    </div>
    <h5 class="upper">Room Allocation</h5>
  </div>



</div>

<div class="col-12 col-sm-12 ">
  <div class="card  card-tabs">
    <div class="card-header p-0 pt-1">
      <ul class="nav nav-tabs" id="custom-tabs-one-tab" role="tablist">
        <li class="nav-item">
          <a class="nav-link active" id="custom-tabs-one-home-tab" data-toggle="pill"
            href="#approved" role="tab" aria-controls="custom-tabs-one-home"
            aria-selected="true">Approved Allocations</a>
        </li>
        <li class="nav-item" *ngIf="myrights.allocate_rooms||myrights.approve_allocations">
          <a class="nav-link" id="custom-tabs-one-profile-tab" data-toggle="pill"
            href="#pending" role="tab" aria-controls="custom-tabs-one-profile"
            aria-selected="false">Pending Allocations</a>
        </li>
        <li class="nav-item" *ngIf="myrights.allocate_rooms">
          <a class="nav-link" id="custom-tabs-one-messages-tab" data-toggle="pill"
            href="#allocate" role="tab" aria-controls="custom-tabs-one-messages"
            aria-selected="false">Allocate Rooms</a>
        </li>

      </ul>
    </div>
    <div class="card-body">
      <div class="tab-content" id="">
        <div class="tab-pane fade show active" id="approved" role="tabpanel"
          aria-labelledby="custom-tabs-one-home-tab">
       <!-- Main content -->
<section  class="content">
  <div class="container-fluid">
    <div class="card">
      <div class="card-header">
        <h3 class="card-title">Approved room allocations for {{residenceSession.session_name}}</h3>
        <div class="card-tools">
          <button type="button" class="btn btn-tool" data-card-widget="collapse">
            <i class="fas fa-minus"></i>
          </button>
          <button type="button" class="btn btn-tool" data-card-widget="remove">
            <i class="fas fa-times"></i>
          </button>
        </div>
      </div>
      <!-- /.card-header -->
      <div class="card-body">
        <div class="tab-pane fade show active" id="custom-tabs-one-home" role="tabpanel"
          aria-labelledby="custom-tabs-one-home-tab">
          <div class="card-body">
            <table id="mytable3" class="table table-bordered table-striped table-hover" datatable [dtOptions]="dtoptions"
            [dtTrigger]="dtTrigger3">
              <thead>
                <tr>
                  <th>No</th>
                  <th>Regstration Number </th>


                  <th>Room Number </th>
                  <th>Room Type </th>
                  <th>Floor</th>
                  <th>Hostel </th>
                  <th>Location </th>



                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let allocation of batchallocations_appproved; let i = index">
                  <td>{{ i }}</td>
                  <td>{{ allocation.reg_number}}</td>

                  <td>{{ allocation.room_number }}</td>
                  <td>{{ allocation.room_type }}</td>
                  <td>{{ allocation.floor_name}}</td>
                  <td>{{ allocation.hostel_name }}</td>

                  <td>{{ allocation.location_name }}</td>



                </tr>
              </tbody>
            </table>
          </div>
          <!-- /.card-body -->
        </div>
      </div>
      <!-- /.card-body -->
    </div>
    <!-- /.content-header -->
  </div>
</section>
        </div>
        <div class="tab-pane fade" id="pending" role="tabpanel"
          aria-labelledby="custom-tabs-one-profile-tab">
          <section class="content">
            <div class="container-fluid">
              <div class="card">
                <div class="card-header">
                  <h3 class="card-title">Pending room allocations for {{residenceSession.session_name}}</h3>
                  <div class="card-tools">
                    <button type="button" class="btn btn-tool" data-card-widget="collapse">
                      <i class="fas fa-minus"></i>
                    </button>
                    <button type="button" class="btn btn-tool" data-card-widget="remove">
                      <i class="fas fa-times"></i>
                    </button>
                  </div>
                </div>
                <!-- /.card-header -->
                <div class="card-body">
                  <div class="tab-pane fade show active" id="custom-tabs-one-home" role="tabpanel"
                    aria-labelledby="custom-tabs-one-home-tab">
                    <div class="card-body">
                      <table id="mytable2" class="table table-bordered table-striped table-hover"datatable [dtOptions]="dtoptions"
                      [dtTrigger]="dtTrigger2">
                        <thead>
                          <tr>
                            <th>No</th>
                            <th>Regstration Number </th>


                            <th>Room Number </th>
                          <th>Room Type</th>
                            <th>Floor</th>
                            <th>Hostel </th>
                            <th>Location </th>

                            <th>action</th>


                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor="let allocation of batchallocations_pending; let i = index">
                            <td>{{ i }}</td>
                            <td>{{ allocation.reg_number}}</td>

                            <td>{{ allocation.room_number }}</td>
                            <td>{{ allocation.room_type }}</td>
                            <td>{{ allocation.floor_name}}</td>
                            <td>{{ allocation.hostel_name }}</td>

                            <td>{{ allocation.location_name }}</td>
                            <td class="btn-group">
                              <i class="fa fa-ellipsis-h fa-lg" data-toggle="dropdown"></i>

                              <span class="sr-only">Toggle Dropdown</span>
                              <div *ngIf="myrights.approve_allocations" class="dropdown-menu" style="margin-right: 40px" role="menu">
                                <a class="dropdown-item mx-auto"data-toggle="modal"  [attr.data-target]="'#approve-modal-sm' + i"   >
                                  <i class="fa fa-caret-left" aria-hidden="true"></i>
                                  Approve
                                </a>
                                <a class="dropdown-item" data-toggle="modal" [attr.data-target]="'#reject-modal-sm' + i">
                                  <i class="fa fa-caret-left" aria-hidden="true"></i>
                                  Reject
                                </a>



                              </div>
                                        <!-- deactivate modal -->
                    <div class="modal fade" id="reject-modal-sm{{ i }}">
                      <div class="modal-dialog modal-sm">
                        <div class="modal-content">
                          <div class="modal-header">
                            <h4 class="modal-title">Confimation</h4>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                              <span aria-hidden="true">&times;</span>
                            </button>
                          </div>
                          <div class="modal-body">
                            <p class="text-sm">
                              Are you sure you want to reject this application
                              &hellip;
                            </p>
                          </div>
                          <div class="modal-footer justify-content-between">
                            <button type="button" class="btn btn-default btn-sm" data-dismiss="modal">
                              Cancel
                            </button>
                            <button type="button" data-dismiss="modal" (click)="approve_reject(2,allocation)"  class="btn btn-warning btn-sm">
                            reject
                            </button>
                          </div>
                        </div>
                        <!-- /.modal-content -->
                      </div>
                      <!-- /.modal-dialog -->
                    </div>
                              <!-- deactivate modal -->
                              <div class="modal fade" id="approve-modal-sm{{ i }}">
                                <div class="modal-dialog modal-sm">
                                  <div class="modal-content">
                                    <div class="modal-header">
                                      <h4 class="modal-title">Confimation</h4>
                                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                      </button>
                                    </div>
                                    <div class="modal-body">
                                      <p class="text-sm">
                                        Are you sure you want to approve this application
                                        &hellip;
                                      </p>
                                    </div>
                                    <div class="modal-footer justify-content-between">
                                      <button type="button" class="btn btn-default btn-sm" data-dismiss="modal">
                                        Cancel
                                      </button>
                                      <button type="button" (click)="approve_reject(1,allocation)"   data-dismiss="modal" class="btn btn-warning btn-sm">
                                       approve
                                      </button>
                                    </div>
                                  </div>
                                  <!-- /.modal-content -->
                                </div>
                                <!-- /.modal-dialog -->
                              </div>
                            </td>

                          </tr>
                        </tbody>
                      </table>
                    </div>
                    <!-- /.card-body -->
                  </div>
                </div>
                <!-- /.card-body -->
              </div>
              <!-- /.content-header -->
            </div>
          </section>
        </div>
        <div class="tab-pane fade" id="allocate" role="tabpanel"
          aria-labelledby="custom-tabs-one-messages-tab">

<div *ngIf="myrights.allocate_rooms" class="card card-default">

  <div class="card-header">
    <h3 class="card-title">Allocate Rooms for  batch  {{residenceSession.session_name}} </h3>

    <div class="card-tools">
      <button type="button" class="btn btn-tool" data-card-widget="collapse">
        <i class="fas fa-minus"></i>
      </button>
      <button type="button" class="btn btn-tool" data-card-widget="remove">
        <i class="fas fa-times"></i>
      </button>
    </div>
  </div>
  <!-- /.card-header -->

  <div class="card-body">
    <div class="row">
      <div class="col-md-9"></div>
      <div class="col-md-1">
        <label for="">Reserved</label>
<div style="width: 30px;"> <input  (change)="getroomsToallocate()" type="checkbox" name="reserved" [(ngModel)]="reserved"></div>
      </div>
      <div class="col-md-2">
        <label for="">Gender</label>
        <select (change)=" getroomsToallocate()" class="pl-3" [(ngModel)]="roomgender">

          <option value="m">male</option>
          <option value="f">female</option>
        </select>
      </div>
    </div>
    <table id="mytable1" class="table table-bordered table-striped table-hover" datatable [dtOptions]="dtoptions"
      [dtTrigger]="dtTrigger1">
      <thead>
        <tr>
          <th>No</th>
          <th>Room Number </th>
          <th>Room Gender </th>
          <th>Room Price </th>
          <th>Room Type </th>
          <th>Floor</th>
          <th>Reserved</th>
          <th>capacity</th>
          <th>Hostel</th>
          <th>Location </th>
          <th>action</th>



        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let room of roomstoallocate; let i = index">
          <td>{{ i }}</td>
          <td>{{ room.room_number}}</td>
          <td *ngIf="room.room_gender=='m'">Male</td>
          <td *ngIf="room.room_gender=='f'">female</td>
          <td>{{ room.room_price }}</td>
          <td>{{ room.room_type }}</td>
          <td>{{ room.floor_name}}</td>
          <td *ngIf="room.resavation_id!=null">Yes</td>
          <td *ngIf="room.resavation_id==null">No</td>
          <td>{{room.room_capacity}}</td>
          <td>{{ room.hostel_name }}</td>

          <td>{{ room.location_name }}</td>

            <td class="btn-group">
              <i class="fa fa-ellipsis-h fa-lg" data-toggle="dropdown"></i>

              <span class="sr-only">Toggle Dropdown</span>
              <div class="dropdown-menu" style="margin-right: 40px" role="menu">
                <button class="dropdown-item" (click)="setroomid(room.room_id)" data-toggle="modal"
                [attr.data-target]="'#edit-modal-sm' + i">allocate</button>
                <!-- <button class="dropdown-item" > <i class="fa fa-eye" aria-hidden="true"></i> view</button> -->



              </div>
            </td>

          <div class="modal fade" id="edit-modal-sm{{ i }}">
            <div class="modal-dialog modal-lg">
              <div class="modal-content">
                <div class="modal-header">
                  <h4 class="modal-title">Room Allocation</h4>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <div class="row">
                    <div class="col-md-8">
                      <label for="">Registration Number</label>
                      <div class="input-group mb-3">

                        <input type="text" required class="form-control" name="reg_number"
                          [(ngModel)]="searchreg_number">
                          <a (click)="getstudentDetails(searchreg_number)" class="input-group-append">
                            <div class="input-group-text">
                              <span class="fas fa-search"></span>
                            </div>
                          </a>
                      </div>

                    </div>
                  </div>
                  <div class="error text-danger">{{error}}</div>
                  <div class="row">
                    <div class="col-md-3">   <input type="text" disabled  class="form-control" name="name"
                      [(ngModel)]="mystudent.first_name">
                    </div>
                    <div class="col-md-3">   <input type="text" disabled   class="form-control" name="name"
                    [(ngModel)]="mystudent.surname">
                    </div>
                    <div class="col-md-2">   <input type="text" disabled  required class="form-control" name="name"
                    [(ngModel)]="mystudent.programme_code">
                    </div>
                    <div class="col-md-2">   <input type="text" disabled   class="form-control" name="name"
                    [(ngModel)]="mystudent.academic_level">
                    </div>
                    <div class="col-md-2">   <input type="text" disabled required  class="form-control" name="name"
                    [(ngModel)]="mystudent.semester">
                    </div>
                    </div>
<form #allocateform="ngForm" >
  <input type="text" hidden required class="form-control" name="reg_number"
  [(ngModel)]="roomallocation.reg_number">



<input hidden required class="form-control" [value]="room.room_id" name="room_id"
[(ngModel)]="roomallocation.room_id">
<div class="modal-footer justify-content-between">
  <button type="button" class="btn btn-default btn-sm" data-dismiss="modal">
    Close
  </button>
  <button type="submit" (click)="allocateRooms()"  [disabled]="allocateform.form.invalid"  data-dismiss="modal" class="btn btn-primary btn-sm">
    Save changes
  </button>
</div>

</form>




                </div>
              </div>
              <!-- /.modal-content -->
            </div>
            <!-- /.modal-dialog -->
          </div>

        </tr>
      </tbody>
    </table>
  </div>
</div>
        </div>

      </div>
    </div>
    <!-- /.card -->
  </div>
</div>









































