<div class="col-12 col-sm-12">
  <div class="card card-primary card-tabs">
    <div class="card-header bg p-0 pt-1">
      <ul class="nav nav-tabs" id="custom-tabs-one-tab" role="tablist">
        <li class="nav-item">
          <a class="nav-link active" id="custom-tabs-one-home-tab" data-toggle="pill" href="#applications" role="tab" aria-controls="custom-tabs-one-home" aria-selected="true">Applications</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="custom-tabs-one-profile-tab" data-toggle="pill" href="#allocations" role="tab" aria-controls="custom-tabs-one-profile" aria-selected="false">Allocations</a>
        </li>

      </ul>
    </div>
    <div class="card-body">
      <div class="tab-content" id="custom-tabs-one-tabContent">
        <div class="tab-pane fade show active" id="applications" role="tabpanel" aria-labelledby="applications">

          <table  class="hover table-bordered table-scrollable width-100"  style="width: 100%;"  >
            <thead>
              <tr>



                <th>location Name</th>
                <th>hostel Name</th>

                <th>Room Number</th>
                <th>Expiry Date </th>
                 <th>status</th>





              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let application of myapplication,let i=index">

                <td>{{application.location_name}}</td>
                <td>{{application.hostel_name}}</td>

                <td>{{application.room_number}}</td>
                <td>{{application.expiration_date}}</td>
                <td *ngIf="application.application_status===0" class="text-success">Pending</td>
                <td *ngIf="application.application_status===2" class="text-danger">Forfeited</td>






              </tr>
            </tbody>
          </table>
        </div>
        <div class="tab-pane fade" id="allocations" role="tabpanel" aria-labelledby="allocations">



          <table class="hover  responsive" style="width: 100%;" >
            <thead>
              <tr>



                <th>location Name</th>
                <th>hostel Name</th>
                <th>floor Name</th>
                <th>Room Number</th>





              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let allocation of myallocations,let i=index">

                <td>{{allocation.location_name}}</td>
                <td>{{allocation.hostel_name}}</td>
                <td>{{allocation.floor_name}}</td>
                <td>{{allocation.room_number}}</td>






              </tr>
            </tbody>
          </table>

                </div>

      </div>
    </div>
    <!-- /.card -->
  </div>
</div>





