.nav-item .active
{

  background-color:  #cda14f ;

}
.bg{
  background-color: #24b0ed!important;
}

.text-upper{
text-transform: uppercase;
}
.text-capital{
  text-transform: capitalize;
}
.text-lower{
  text-transform: lowercase;
}
