<!-- eslint-disable @angular-eslint/template/eqeqeq -->
<div class="content ">
<div class="card">
  <div class="card-header m-4">
    <h3 class="card-title">
Recents
    </h3>
  </div>
  <div class="card-body">
    <table class="hover  table-striped  responsive" style="width: 100%;" >
      <thead>
        <tr>

          <th>Type</th>

          <th>location Name</th>
          <th>hostel Name</th>
          <th>floor Name</th>
          <th>Room Number</th>
          <th>Batch</th>
          <th>Status</th>
          <th>Date</th>
          <th>Expiry Date</th>





        </tr>
      </thead>
      <tbody >
        <tr class="text-capital" *ngFor="let allocation of myallocations,let i=index">
          <td class="text-upper">{{allocation.type}}</td>
          <td >{{allocation.location_name}}</td>

          <td>{{allocation.hostel_name}}</td>
          <td>{{allocation.floor_name}}</td>
          <td>{{allocation.room_number}}</td>
          <td>{{allocation.session_name}}</td>
          <td class="text-danger" *ngIf="allocation.status=='forfeited'||allocation.status=='rejected'" >{{allocation.status}}</td>
          <td class="text-success" *ngIf="allocation.status=='pending'||allocation.status=='approved'">{{allocation.status}}</td>
          <td>{{allocation?.DATE|date}}</td>
          <td>{{allocation?.expiration_date|date}}</td>





        </tr>
      </tbody>
    </table>
  </div>
</div>

</div>
