
<section class="content" >
  <div class="container-fluid">
    <div class="card">
      <div class="card-header">
        <h3 class="card-title">Available Hostels</h3>
        <div class="card-tools">

       <app-checkin-checkout-dropdown></app-checkin-checkout-dropdown>
        </div>
      </div>

<div class="card-body">

        <table
          class="hover responsive" style="width:100%" datatable  [dtOptions]="dtoptions" [dtTrigger]="dtTrigger" >
          <thead>
            <tr>




              <th>Location</th>
              <th>Hostel Name</th>
              <th>Floor</th>
              <th>Room Number</th>
              <th>Capacity</th>
              <th>Room Type</th>
              <th>Room Cost</th>
              <th>Action</th>

            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let room of rooms,let i=index">

              <td>{{room.location_name}}</td>
              <td>{{room.hostel_name}}</td>
              <td>{{room.floor_name}}</td>
              <td>{{room.room_number}}</td>
              <td>{{room.room_capacity}}</td>
              <td>{{room.room_type}}</td>
              <td>{{room.room_price}}</td>
              <td>
                <button apply class="btn btn-warning btn-sm m-2" (click)="getroomDetails(room.room_id,i)">
            info
              </button>

                <button apply class="btn btn-table btn-sm m-2" data-toggle="modal" [attr.data-target]="'#delete-modal-sm'+ i "> apply</button>

              </td>
              <!-- room details modal -->

              <div class="modal fade" id="details-modal-sm{{ i }}">
                <div class="modal-dialog modal-md">
                <div class="modal-content">
                <div class="modal-header">
                  <h4 class="modal-title">Confimation</h4>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <p class="text-sm" >Are you sure you want to apply for room {{room.room_number}} &hellip;</p>
                </div>
                <div class="modal-footer justify-content-between">
                  <button type="button"  class="btn btn-primary btn-sm" data-dismiss="modal">Cancel</button>
                  <button type="button" (click)=" applyForARoom(room)" data-dismiss="modal" class="btn btn-warning btn-sm">apply</button>
                </div>
                </div>
                <!-- /.modal-content -->
                </div>
                <!-- /.modal-dialog -->
                </div>

<!-- apply confimation -->
      <div class="modal fade" id="delete-modal-sm{{ i }}">
      <div class="modal-dialog modal-sm ">
      <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Confimation</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p class="text-sm" >Are you sure you want to apply for room {{room.room_number}} &hellip;</p>
      </div>
      <div class="modal-footer justify-content-between">
        <button type="button"  class="btn btn-primary btn-sm" data-dismiss="modal">Cancel</button>
        <button type="button" (click)=" applyForARoom(room)" data-dismiss="modal" class="btn btn-warning btn-sm">apply</button>
      </div>
      </div>
      <!-- /.modal-content -->
      </div>
      <!-- /.modal-dialog -->
      </div>
            </tr>
          </tbody>
        </table>
      </div>
      <!-- /.card-body -->
</div>
<!-- /.content-header -->
</div>
</section>


  <!-- Control Sidebar -->
  <aside class="control-sidebar control-sidebar-dark">
    <!-- Control sidebar content goes here -->
  </aside>
  <!-- /.control-sidebar -->

