<div class="btn-group mr-3">
  <a data-toggle="dropdown"> <i class="fa fa-solid fa-list-ul"> </i> options</a>
  <span class="sr-only">Toggle Dropdown</span>
  <div class="dropdown-menu" style="margin-right: 100px;" role="menu">
    <a *ngIf="currenturl!='/viewbatch'" routerLink="../viewbatch" type="button" class="dropdown-item">
      <i class="fa fa-chevron-circle-down" aria-hidden="true"></i>
      Hostel Preference
    </a>
    <a *ngIf="currenturl!='/levelpreference'" routerLink="../levelpreference" type="button" class="dropdown-item ">
      <i class="fa fa-chevron-circle-right" aria-hidden="true"></i>
      Preference Levels
    </a>
    <a *ngIf="currenturl!='/programmepreference'" routerLink="../programmepreference" type="button" class="dropdown-item ">
      <i class="fa fa-chevron-circle-right" aria-hidden="true"></i>
      Add Programmes
    </a>
    <a routerLink="../Resevations" type="button" *ngIf="myrights.reserve_rooms&&currenturl!='/Resevations'" class="dropdown-item ">
      <i class="fa fa-chevron-circle-right" aria-hidden="true"></i>
      Resavations
    </a>
    <a routerLink="../roomallocation" type="button" *ngIf="currenturl!='/roomallocation'&&(myrights.allocate_rooms||myrights.approve_allocations)"
      class="dropdown-item">
      <i class="fa fa-chevron-circle-right" aria-hidden="true"></i>
      Room Allocation
    </a>



    <a *ngIf="currenturl!='/reports'" routerLink="../reports" type="button" class="dropdown-item ">
      <i class="fa fa-chevron-circle-right" aria-hidden="true"></i>
      Reports
    </a>
    <a *ngIf="currenturl!='/checkin'" routerLink="../checkin" type="button" class="dropdown-item ">
      <i class="fa fa-chevron-circle-right" aria-hidden="true"></i>
      checkin
    </a>
    <a *ngIf="currenturl!='/checkout'" routerLink="../checkout" type="button" class="dropdown-item ">
      <i class="fa fa-chevron-circle-right" aria-hidden="true"></i>
      checkout
    </a>
    <a *ngIf="currenturl=='/checkin'" routerLink="../checkin-report" class="dropdown-item ">
      <i class="fa fa-chevron-circle-right" aria-hidden="true"></i> view check in
      report
    </a>
    <a *ngIf="currenturl=='/checkout'" routerLink="../checkout-report" class="dropdown-item ">
      <i class="fa fa-chevron-circle-right" aria-hidden="true"></i> view checkout
      report
    </a>

  </div>

</div>
