
.login-box{
  width: 400px;
}
.card {
  font-family: sans-serif;

  color: #fff;
  padding: 40px;

  background: rgba(0,0,0,.5);
  box-sizing: border-box;
  box-shadow: 0 15px 25px rgba(0,0,0,.6);
  border-radius: 10px;
  background: linear-gradient(#24b0ed,#cda14f );

}
.card .img-container{
  text-align: center;
}
.card .img-container img{
  width: 40%;
}
.card h5 {
  margin: 0 0 30px;
  padding: 0;
  color: #fff;
  text-align: center;
}



.card .user-box input {
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid #fff;
  outline: none;
  background: transparent;
}
.card .user-box input::placeholder{
  color: #fff;
  font-size: 20px;
}

.card .user-box input:focus ~ label,
.card .user-box input:valid ~ label {
  top: -20px;
  left: 0;
  color: #000;

}

.card form button {
  position: relative;
  display: inline-block;
  padding: 10px 20px;
  color: #fff;
  border-radius: 30px;
  border-width: 0px;
  font-size: 16px;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  transition: .5s;

  letter-spacing: 4px;
  background-color: #24b0ed;

}

.card button:hover {
  background: #24b0ed;
  color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 5px #24b0ed,
              0 0 25px #24b0ed,
              0 0 50px #24b0ed,
              0 0 100px #24b0ed;
}

.card button span {
  position: absolute;
  display: block;
}



@media (min-width: 600px) and (max-width: 700px) {
  .login-box .login-box .card-tile {
    width:99%;

height: 90;
  }
  .card .user-box input::placeholder{
    color: #fff;
    font-size:12px;
  }
}
@media  (max-width: 600px) {
  .login-box, .login-box .card-tile {
    width:80%;
height: 90;

  }
  .card .user-box input::placeholder{
    color: #fff;
    font-size: 8px;
  }

}
