<ngx-ui-loader
text="loading   please wait..."
overlayColor="#fff"
textColor="#c2a458"
fgsColor="#c2a458"
fgsType="square-jelly-box"
></ngx-ui-loader>
<div class="card">
  <div class="card-header  " >





    <div class="card-tools">

      <a routerLink="../hostels" type="button" class="btn btn-primary btn-tool nav-btn">
        <i class="fa fa-chevron-circle-left" aria-hidden="true"></i>
        hostels
      </a>

      <a routerLink="../allrooms" type="button" class="btn btn-primary btn-tool nav-btn">
        <i class="fa fa-chevron-circle-down" aria-hidden="true"></i>
        rooms
      </a>



      <button type="button" class="btn btn-tool" data-card-widget="remove">
        <i class="fas fa-times"></i>
      </button>
    </div>

  </div>



</div>

<div  class="card card-default">
  <div class="row">
    <div class="col-md-9">
      <div class="card-header">

      </div>
    </div>

  </div>
  <div class="card-header">
    <h3 class="card-title">Blacklist Student</h3>

    <div class="card-tools">
      <button type="button" class="btn btn-tool" data-card-widget="collapse">
        <i class="fas fa-minus"></i>
      </button>
      <button type="button" class="btn btn-tool" data-card-widget="remove">
        <i class="fas fa-times"></i>
      </button>
    </div>
  </div>
  <!-- /.card-header -->
  <div class="card-body">
    <form #blacklistForm="ngForm" (ngSubmit)=" createBlacklist()">

      <!-- {{createHostelForm.value | json}} -->
      <div class="row">

        <!-- /.col -->
        <div class="col-md-6">
          <div class="form-group">
            <label for="exampleInputEmail1">Registration Number</label>
            <input type="text" class="form-control" name="reg_number" required
              placeholder="Enter registration number" [(ngModel)]="blacklist.student_regnumber">
          </div>

        </div>

        <div class="col-md-6">
          <div class="form-group">
            <label for="exampleInputEmail1">Reason </label>
            <input type="text" class="form-control" name="reason" required
            placeholder="Enter hostel name"  [(ngModel)]="blacklist.reason">
          </div>
        </div>

        <!-- /.col -->
      </div>






      <div class="row">
        <div class="col-12 col-sm-6">
        <button type="submit" class="btn btn-primary" [disabled]="!blacklistForm.form.valid">
          Save
        </button>
        </div>

      </div>
      <!-- /.row -->


      <!-- /.card-body -->
    </form>
  </div>
</div>

<!-- DataTables -->

<!-- Main content -->
<section class="content">
  <div class="container-fluid">
    <div class="card">
      <div class="card-header">
        <div class="card-tools">
          <button type="button" class="btn btn-tool" data-card-widget="collapse">
            <i class="fas fa-minus"></i>
          </button>
          <button type="button" class="btn btn-tool" data-card-widget="remove">
            <i class="fas fa-times"></i>
          </button>
        </div>
        <h3 class="card-title">Blacklisted Students</h3>

      </div>
      <!-- /.card-header -->
      <div class="card-body">
        <table datatable id="mytable"  [dtOptions]="dtoptions" [dtTrigger]="dtTrigger"
          class="table table-bordered table-striped table-hover responsive" style="width: 100%;">
          <thead>
            <tr>
              <th>No</th>

              <th>Registration Number</th>
              <th>reason</th>
              <th>Date Blacklisted</th>

              <th >Action</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let blacklistedstudent of studentblacklist; let i=index">
              <td>{{ i }}</td>
              <td>{{blacklistedstudent.student_regnumber}}</td>
              <td>{{blacklistedstudent.reason}}</td>
              <td>{{blacklistedstudent.created_at | date}}</td>


              <td  class="btn-group">



                <button class="btn btn-danger btn-sm" data-toggle="modal" [attr.data-target]="'#modal-sm' + i">
                  Delete
                </button>
              </td>
              <!-- delete modal small -->
              <div class="modal fade" id="modal-sm{{ i }}">
                <div class="modal-dialog modal-sm">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h4 class="modal-title">Confimation</h4>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
                      <p class="text-sm">
                        Are you sure you want remove {{ blacklistedstudent.student_regnumber}} from blacklist
                       &hellip;
                      </p>
                    </div>


                    <div class="modal-footer justify-content-between">
                      <button type="button" class="btn btn-default btn-sm" data-dismiss="modal">
                        Cancel
                      </button>
                      <button type="button"   (click)="deleteStudent( blacklistedstudent)" data-dismiss="modal"
                      class="btn btn-danger btn-sm">
                        Delete
                      </button>
                    </div>
                  </div>
                  <!-- /.modal-content -->
                </div>
                <!-- /.modal-dialog -->
              </div>

            </tr>
          </tbody>
        </table>
      </div>
      <!-- /.card-body -->
    </div>
    <!-- /.content-header -->
  </div>
</section>
