.fa-bars {
    cursor: pointer;
}

.nav-item {
    .nav-link {
        cursor: pointer;
    }
}
.nav-item {
    button.nav-link {
        outline: none;
        border: none;
        background-color: transparent;
    }
}
.appname
{
  color: #000;
  font-size: 20px;
}
@media screen and (max-width: 480px) {
  .appname
  {
    color: #000;
    font-size: 14px;
  }
}
