<!-- Main Sidebar Container -->
<aside class="main-sidebar sidebar-dark-primary elevation-4">
  <!-- Brand Logo -->

  <span class="brand-text brand-link font-weight-light mt-3 pb-2 text-center">
    <img style="width: 60%;height:auto;" src="assets/dist/img/logo.png" alt="">

  </span>

  <!-- Sidebar -->
  <div class="sidebar">
    <!-- Sidebar user panel (optional) -->


    <!-- Sidebar Menu -->
    <nav class="mt-2 mynav">

      <ul class="nav nav-pills nav-sidebar flex-column"  role="menu" data-accordion="false">
        <!-- Add icons to the links using the .nav-icon class
               with font-awesome or any other icon font library -->


        <li class="nav-item">
          <a  routerLink="hostels" class="nav-link">
            <i class="nav-icon fas fa-copy"></i>
            <p>
              Hostels

            </p>
          </a>

        </li>

        <li  class="nav-item">
          <a  routerLink="user"class="nav-link">
            <i class="nav-icon fas fa-copy"></i>
            <p>
              Users

            </p>
          </a>

        </li>
        <li class="nav-item" >
          <a routerLink="roomtypes"  class="nav-link">
            <i class="nav-icon fas fa-copy"></i>
            <p>
              Rooms Types

            </p>
          </a>

        </li>

        <li class="nav-item">
          <a routerLink="Allperiods" class="nav-link">
            <i class="nav-icon fas fa-copy"></i>
            <p>
              Periods

            </p>
          </a>

        </li>
        <li class="nav-item" >
          <a routerLink="blacklist" class="nav-link">
            <i  class="nav-icon fas fa-copy"></i>
            <p>
              Blacklist


            </p>
          </a>

        </li>

      </ul>
    </nav>
    <!-- /.sidebar-menu -->
  </div>
  <!-- /.sidebar -->
</aside>
<br />
