:host {
    display: block;
}




.sidebar{
  font-family: 'Poppins-thin';
  background-color: #24b0ed;
  height: 100%!important;

}
.active{
  background-color:  #cda14f ;
}
.info{
  font-size: 1.2em;
  padding: 10px;
  width: 99%;
color: #fff;


}
