


<!-- Sidebar -->
<div class="sidebar">
    <!-- Sidebar user (optional) -->
    <div class="user-panel mt-3 pb-3 mb-3 d-flex">


          <div class="row" style="justify-items: center;"><img src="assets/img/logo.png"  style="width: 80%;" alt="">

        </div>






    </div>
    <div class="info">  <span  style="color: #FFF;"><h5>Hostel Online Application</h5></span></div>



    <!-- Sidebar Menu -->
    <nav class="mt-2" style="overflow-y: hidden">
      <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
      <li class="nav-item" routerLinkActive="active" >
        <a routerLink="home" style="color: #fff;" class="nav-link">
          <i class="fa fa-solid fa-house-user nav-icon"></i> Home

        </a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a routerLink="history" style="color: #fff;"  class="nav-link">
          <i class="fa fa-thin fa-book"></i> Recent Applications
        </a>
      </li>
    </ul>

    </nav>
</div>
